@import '../abstracts/mixins';

/* || Channels */
.sidebar-1tnWFu {
    .containerDefault-YUSmu3, .containerDragBefore-1s5Qg6 {
        overflow: hidden;
        .wrapper-NhbLHG .content-1gYQeQ {
            padding-left: 0;
            border-radius: var(--container-rounding);
            &::before {
                @include item-pill-main;
            }
            &:hover::before {
                height: var(--pill-hover-height);
                margin-right: 7px;
            }
            &:active::before {
                height: var(--pill-default-height);
                margin-right: 7px;
            }
        }
        .wrapper-NhbLHG.modeSelected-3DmyhH .content-1gYQeQ::before {
            height: var(--pill-default-height);
            margin-right: 7px;
        }
        .wrapper-NhbLHG.modeConnected-NrO4cP .content-1gYQeQ {
            background-color: var(--background-modifier-active);
            &::before {
                height: var(--pill-default-height);
                margin-right: 7px;
                background-color: var(--pill-connected-background);
            }
        }
        .modeUnread-3Cxepe {
            .unreadRelevant-2f-VSK {
                display: none;
            }
            .content-1gYQeQ {
                &::before {
                    height: var(--pill-unread-height);
                    margin-right: 7px;
                    background-color: var(--pill-unread-background);
                }
                &:hover::before {
                    background-color: var(--pill-unread-background);
                }
            }
        }
    }
    // || Private Messages
    .container-32HW5s {
        overflow: hidden;
        .interactive-1vLZ_I {
            border-radius: var(--container-rounding);
            &::before {
                @include item-pill-main;
            }
            &:hover::before {
                height: var(--pill-hover-height);
                margin-right: 7px;
            }
            &:active,
            &.interactiveSelected-29CP8y {
                &::before {
                    height: var(--pill-default-height);
                    margin-right: 7px;
                }
            }
            .layout-1LjVue {
                padding: 0;
            }
        }
    }
}