@import '../abstracts/mixins';

/* || Discovery */
.categoryItem-Kc_HK_ {
    .itemInner-3e_4G4 {
        padding-left: 0;
        &::before {
            @include item-pill-main;
        }
        &:hover::before {
            height: var(--pill-hover-height);
            margin-right: 7px;
        }
        &:active::before {
            height: var(--pill-default-height);
            margin-right: 7px;
        }
    }
    &.selectedCategoryItem-ZjqSui div.itemInner-3e_4G4 {
        background-color: var(--background-modifier-selected);
        &::before {
            height: var(--pill-default-height);
            margin-right: 7px;
        }
    }
    &:active .itemInner-3e_4G4 {
        background-color: var(--background-modifier-active);
    }
}