@import '../abstracts/mixins';

.list-2kKmFw {
    .content-1Tgc42 {
        margin: 0;
        &::before {
            @include item-pill-main;
        }
        &:hover::before {
            height: var(--pill-hover-height);
            margin-right: 7px;
        }
        &:active::before {
            height: var(--pill-default-height);
            margin-right: 7px;
        }
        .avatarContainer-3FF_Km {
            margin-left: 0;
        }
    }
    .selected-1oxcpH .content-1Tgc42::before {
        height: var(--pill-default-height);
        margin-right: 7px;
    }
}