:root {
  --IP-container-rounding: 6px;
  --IP-pill-default-height: 20px;
  --IP-pill-unread-height: 4px;
  --IP-pill-hover-height: 14px;
  --IP-pill-separation-left: 5px;
  --IP-pill-separation-right: calc(var(--IP-pill-separation-left) + 2px);
  --IP-pill-transition-delay: 250ms ease;
}

.theme-dark {
  --IP-container-selected: rgb(255, 255, 255, 0.075);
  --IP-container-hover: rgb(255, 255, 255, 0.025);
  --IP-container-active: rgba(255, 255, 255, 0.05);
  --IP-pill-default: #5965F2;
  --IP-pill-unread: #F2B259;
  --IP-pill-connected: #59F2BF;
}

.theme-light {
  --IP-container-selected: rgb(0, 0, 0, 0.075);
  --IP-container-hover: rgb(0, 0, 0, 0.025);
  --IP-container-active: rgba(0, 0, 0, 0.05);
  --IP-pill-default: #5865f2;
  --IP-pill-unread: #EC9213;
  --IP-pill-connected: #11D493;
}

.sidebar-1tnWFu .containerDefault-YUSmu3, .sidebar-1tnWFu .containerDragBefore-1s5Qg6 {
  overflow: hidden;
}
.sidebar-1tnWFu .containerDefault-YUSmu3 .content-1gYQeQ, .sidebar-1tnWFu .containerDragBefore-1s5Qg6 .content-1gYQeQ {
  padding-left: 0;
  border-radius: var(--IP-container-rounding);
}
.sidebar-1tnWFu .containerDefault-YUSmu3 .content-1gYQeQ::before, .sidebar-1tnWFu .containerDragBefore-1s5Qg6 .content-1gYQeQ::before {
  content: "";
  position: relative;
  width: 4px;
  height: 0;
  margin-left: var(--IP-pill-separation-left);
  border-radius: 25px;
  transition: height var(--IP-pill-transition-delay), margin var(--IP-pill-transition-delay), background-color var(--IP-pill-transition-delay);
}
.sidebar-1tnWFu .containerDefault-YUSmu3 .content-1gYQeQ:hover, .sidebar-1tnWFu .containerDragBefore-1s5Qg6 .content-1gYQeQ:hover {
  background-color: var(--IP-container-hover);
}
.sidebar-1tnWFu .containerDefault-YUSmu3 .content-1gYQeQ:hover::before, .sidebar-1tnWFu .containerDragBefore-1s5Qg6 .content-1gYQeQ:hover::before {
  height: var(--IP-pill-hover-height);
  margin-right: var(--IP-pill-separation-right);
  background-color: var(--IP-pill-default);
}
.sidebar-1tnWFu .containerDefault-YUSmu3 .content-1gYQeQ:active, .sidebar-1tnWFu .containerDragBefore-1s5Qg6 .content-1gYQeQ:active {
  background-color: var(--IP-container-active);
}
.sidebar-1tnWFu .containerDefault-YUSmu3 .modeSelected-3DmyhH .content-1gYQeQ::before, .sidebar-1tnWFu .containerDefault-YUSmu3 .modeUnread-3Cxepe .content-1gYQeQ::before, .sidebar-1tnWFu .containerDefault-YUSmu3 .modeConnected-NrO4cP .content-1gYQeQ::before, .sidebar-1tnWFu .containerDragBefore-1s5Qg6 .modeSelected-3DmyhH .content-1gYQeQ::before, .sidebar-1tnWFu .containerDragBefore-1s5Qg6 .modeUnread-3Cxepe .content-1gYQeQ::before, .sidebar-1tnWFu .containerDragBefore-1s5Qg6 .modeConnected-NrO4cP .content-1gYQeQ::before {
  margin-right: var(--IP-pill-separation-right);
}
.sidebar-1tnWFu .containerDefault-YUSmu3 .modeSelected-3DmyhH .content-1gYQeQ, .sidebar-1tnWFu .containerDragBefore-1s5Qg6 .modeSelected-3DmyhH .content-1gYQeQ {
  background-color: var(--IP-container-selected);
}
.sidebar-1tnWFu .containerDefault-YUSmu3 .modeSelected-3DmyhH .content-1gYQeQ::before, .sidebar-1tnWFu .containerDragBefore-1s5Qg6 .modeSelected-3DmyhH .content-1gYQeQ::before {
  height: var(--IP-pill-default-height);
  background-color: var(--IP-pill-default);
}
.sidebar-1tnWFu .containerDefault-YUSmu3 .modeUnread-3Cxepe .unreadRelevant-2f-VSK, .sidebar-1tnWFu .containerDragBefore-1s5Qg6 .modeUnread-3Cxepe .unreadRelevant-2f-VSK {
  display: none;
}
.sidebar-1tnWFu .containerDefault-YUSmu3 .modeUnread-3Cxepe .content-1gYQeQ::before, .sidebar-1tnWFu .containerDragBefore-1s5Qg6 .modeUnread-3Cxepe .content-1gYQeQ::before {
  height: var(--IP-pill-unread-height);
  background-color: var(--IP-pill-unread);
}
.sidebar-1tnWFu .containerDefault-YUSmu3 .modeUnread-3Cxepe .content-1gYQeQ:hover::before, .sidebar-1tnWFu .containerDragBefore-1s5Qg6 .modeUnread-3Cxepe .content-1gYQeQ:hover::before {
  height: var(--IP-pill-hover-height);
}
.sidebar-1tnWFu .containerDefault-YUSmu3 .modeConnected-NrO4cP .content-1gYQeQ, .sidebar-1tnWFu .containerDragBefore-1s5Qg6 .modeConnected-NrO4cP .content-1gYQeQ {
  background-color: var(--IP-container-active);
}
.sidebar-1tnWFu .containerDefault-YUSmu3 .modeConnected-NrO4cP .content-1gYQeQ::before, .sidebar-1tnWFu .containerDragBefore-1s5Qg6 .modeConnected-NrO4cP .content-1gYQeQ::before {
  height: var(--IP-pill-default-height);
  background-color: var(--IP-pill-connected);
}
.sidebar-1tnWFu .container-32HW5s {
  overflow: hidden;
}
.sidebar-1tnWFu .container-32HW5s .interactive-1vLZ_I::before {
  content: "";
  position: relative;
  width: 4px;
  height: 0;
  margin-left: var(--IP-pill-separation-left);
  border-radius: 25px;
  transition: height var(--IP-pill-transition-delay), margin var(--IP-pill-transition-delay);
}
.sidebar-1tnWFu .container-32HW5s .interactive-1vLZ_I:hover {
  background-color: var(--IP-container-hover);
}
.sidebar-1tnWFu .container-32HW5s .interactive-1vLZ_I:hover::before {
  height: var(--IP-pill-hover-height);
  margin-right: var(--IP-pill-separation-right);
  background-color: var(--IP-pill-default);
}
.sidebar-1tnWFu .container-32HW5s .interactive-1vLZ_I:active {
  background-color: var(--IP-container-active);
}
.sidebar-1tnWFu .container-32HW5s .interactive-1vLZ_I.interactiveSelected-29CP8y {
  background-color: var(--IP-container-selected);
}
.sidebar-1tnWFu .container-32HW5s .interactive-1vLZ_I.interactiveSelected-29CP8y::before {
  height: var(--IP-pill-default-height);
  margin-right: var(--IP-pill-separation-right);
  background-color: var(--IP-pill-default);
}
.sidebar-1tnWFu .container-32HW5s .interactive-1vLZ_I .layout-1LjVue {
  padding: 0;
}

.categoryItem-Kc_HK_ .itemInner-3e_4G4 {
  padding-left: 0;
  margin-left: 8px;
}
.categoryItem-Kc_HK_ .itemInner-3e_4G4::before {
  content: "";
  position: relative;
  width: 4px;
  height: 0;
  margin-left: var(--IP-pill-separation-left);
  border-radius: 25px;
  transition: height var(--IP-pill-transition-delay), margin var(--IP-pill-transition-delay);
}
.categoryItem-Kc_HK_ .itemInner-3e_4G4:hover::before {
  height: var(--IP-pill-hover-height);
  margin-right: var(--IP-pill-separation-right);
  background-color: var(--IP-pill-default);
}
.categoryItem-Kc_HK_ .itemInner-3e_4G4 .avatar-6qzftW {
  margin-left: -6px;
}
.categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui .itemInner-3e_4G4 {
  background-color: var(--IP-container-selected);
}
.categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui .itemInner-3e_4G4::before {
  height: var(--IP-pill-default-height);
  margin-right: var(--IP-pill-separation-right);
  background-color: var(--IP-pill-default);
}